.project
.classpath
.vscode
.settings/
.checkstyle
target/
logs/*.log
*.pyc
*.swp

# Test related files
multivimbroker/.coverage
multivimbroker/.tox/
multivimbroker/logs/*.log
multivimbroker/test-reports/

# Docs related
docs/html
