
## IDE Specific Files ##
org.eclipse.core.resources.prefs
.classpath
.project
.settings
.idea
.externalToolBuilders
.checkstyle
maven-eclipse.xml
workspace

.vscode
target/
logs/*.log
*.pyc
*.swp
*_target/
*.orig

# Test related files
multivimbroker/.coverage
multivimbroker/.tox/
multivimbroker/logs/*.log
multivimbroker/test-reports/

# Docs related
docs/html
*.log
.venv
venv
