# rest framework
Django==3.2.7
djangorestframework==3.12.4

# multipart support
# poster==0.8.1

# redis cache
# redis==2.10.5

# for access redis cache
# redisco==0.1.4
# django-redis-cache==0.13.1

# for call rest api
httplib2==0.19.1

# for call openstack api
# python-keystoneclient==3.6.0
# python-glanceclient==2.5.0
# python-neutronclient==6.0.0

# for unit test
# django-nose>=1.4.0
# coverage==4.2
# mock==2.0.0
# unittest_xml_reporting==1.12.0

PyYAML==5.4.1

# for pecan framework
# pecan>=1.2.1
# oslo.concurrency>=3.21.0
# oslo.config>=4.11.0
# oslo.service>=1.25.0
# eventlet>=0.20.0

# uwsgi for parallel processing
# uwsgi

